<footer class="section-padding footer">
    <div class="container">
        <div class="grid col1-col1-col1">
            <div class="info text-center">
                <a href="" class="footer-logo">Qudos</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo itaque dolor tenetur quas repellendus temporibus qui provident numquam minima! Dicta consequatur reprehenderit illum explicabo dolore dolores unde quae aliquid eveniet.</p>
                <div class="social-links">
                    <ul class="d-flex justify-content-center">
                        <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-snapchat"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="links text-center">
                <h3>Useful Links</h3>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Phone</a></li>
                        <li><a href="">Support</a></li>
                    </ul>
            </div>
            <div class="legal-links text-center">
                <h3>Useful Links</h3>
                    <ul>
                        <li><a href="">Privacy</a></li>
                        <li><a href=""></a>Terms of Service</li>
                    </ul>
            </div>
        </div>
        <div class="copyright">
            <p>jetScholar PTY LTD &copy; 2021 All rights reserved.</p>
        </div>
    </div>
</footer>