<header>
    <div class="navbar">
        <nav class="navItems">
            <ul class="nav-bar">
                <li><a href="/"><img id="logo" src="/assets/jetScholar_logo.png" alt="logo"></a></li>
                <li id="mastermind-link"><a href="/authenticate/mastermind">Become a Mastermind</a></li>
                <li><a href="/authenticate/log-reg">Sign Up</a></li>
                <li class="m-border-bottom"><a href="/authenticate/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>