<section>
    
    <div class="menu" id="menu">
        <div class="menuBtn">
            <a class="btnShow" id="btnHide" onclick="showMenu()"><i class="fas fa-times"></i></a>
        </div>
        <div class="menuItems">
            <ul class="menuItemsUL">
                <li class="menuItem1">Dashboard</li>
                <li class="menuItem2">Timetable</li>
                <li class="menuItem3">Backpack</li>
                <li class="menuItem4">Groups</li>
                <li class="menuItem5">Profile</li>
            </ul>
        </div>
    </div>

    <div class="content-container" id="content-container">
        <div class="menuBtn" id="btnShow" style="display: none;">
            <a class="btnShow"  onclick="showMenu()"><i id="caret" class="fas fa-chevron-left"></i></a>
        </div>

        <div class="page-title">Dashboard</div>        
        <div class="heroContent">
            <div class="item">
                <div class="card">
                    <div class="title">Today's Classes</div>
                    <div class="card-content">
                        <img src="/assets/jetScholar_top_logo_ab.png">
                    </div>
                </div>
            </div>

            <div class="item">B</div>
            <div class="item">C</div>
        </div>
        
    </div>

</section>