@import 'shared/variables.css';
@import 'shared/navbar.css';
@import 'shared/menu.css';
@import 'shared/content.css';
@import 'shared/footer.css';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Roboto', sans-serif;
    --clr-background:  #4482cd;
    --clr-white: #fff;
    --clr-contrast: #4482cd;

    --font-size: 16px;
    --border-radius: 0.2em;
}

body {
    font-size: var(--font-size);
    color: var(--clr-white);
    background-color: #4482cd;
    /* background-color: var(--clr-background); */
} 

.content-container {
    margin-left: 15%;
    height: 800px;
    background-color: var(--clr-content);
    /* background-image: url('../assets/heroEagleII.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}



/* .navbar {
    width: 100vw;
    background-color: var(--clr-contrast);
} */

