:root {
    --color-base-hue: 255;
    --clr-background:  #4482cd;
    --clr-white: #fff;
    --clr-contrast: #4482cd;
    --color-background-dark: hsl(var(--color-base-hue), 100%, 8%);
    --color-background-medium: hsl(var(--color-base-hue), 100%, 34%);
    --color-background-light: hsl(var(--color-base-hue), 100%, 64%);
    --color-background-very-light: hsl(var(--color-base-hue), 100%, 94%);
    --color-text-light: hsl(var(--color-base-hue), 100%, 87%);
    --color-text-dark: hsl(var(--color-base-hue), 100%, 18%);
    --border-radius: 3px;
}